<div class="container-fluid">

    <h4>Search for a tenant...</h4>

    <div class="row d-flex w-100 align-items-center">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="icon-magnifier"></i>
            </span>
            <input class="form-control">
        </div>
    </div>
    <div class="row">
        
    </div>
</div>