<div class="animated fadeIn">

    <div class="container-fluid">
            <h2 class="mb-2">Viewing property: 8 Charis Court</h2>
    
        <div class="row d-flex">
            <i class="fa fa-trash fa-3x"></i>
        </div>

        <form>
            <div class="card card-baron mb-2">
                <div class="card-header">Property Address</div>
                <div class="card-block p-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Address (line 1)</label>
                            <input type="text" class="form-control" id="inputAddress1" placeholder="First line...">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Address (line 2)</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Second line...">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputTown">Town</label>
                            <input type="text" class="form-control" id="inputTown">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCounty">County</label>
                            <select id="inputCounty" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPostcode">Postcode</label>
                            <input type="text" class="form-control" id="inputPostcode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-stretch">
                <div class="col-md-6">
                    <div class="card card-baron">
                        <div class="card-header">Safety Details</div>
                        <div class="card-block p-3">
                            <div class="form-group">
                                <label for="inputInspectionDate">Inspection Date</label>
                                <input type="date" class="form-control" id="inputInspectionDate">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="inputGscDate">Gas Service Certificate Date</label>
                                    <input type="date" class="form-control" id="inputGscDate">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="inputGscNext">Gas Service Certificate Due</label>
                                    <input type="date" class="form-control" id="inputGscNext">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="inputElecDate">Electrical Inspection Date</label>
                                    <input type="date" class="form-control" id="inputElecDate" placeholder="First line...">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="inputElecNext">Electrical Inspection Due</label>
                                    <input type="date" class="form-control" id="inputElecNext" placeholder="First line...">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="inputElecNext">EPC Certificate Date</label>
                                    <input type="date" class="form-control" id="inputElecNext" placeholder="First line...">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="inputElecNext">EPC Certificate Due</label>
                                    <input type="date" class="form-control" id="inputElecNext" placeholder="First line...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-baron">
                        <div class="card-header">Property Images</div>
                        <div class="card-block">
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>