<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="assets/img/house1.jpeg" alt="">
  <span class="badge badge-pill">Hello all</span>
  <h5 class="card-title">8 Charis Court</h5>
  
</div>