.navbar-header {
    padding: 15px 10px;
    background: #003776;
    color: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.table {
    margin-top: 50px;
    padding   : 5px;
    font-size : 14px;
    border: 1px solid darkgray;
}

thead {
    background-color: #003776;
    color: white;
}