<div class="container-fluid">

  <div class="navbar-header">
    Property List
  </div>

  <div class="row-mb-1">




      <table class="table table-striped" [mfData]="propertyData" #mf="mfDataTable">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="houseNo"></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="address1">ADDRESS</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="town">TOWN</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="postcode">POSTCODE</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="price">RENT</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let property of mf.data">
              <td>{{property.houseNo}}</td>
              <td>{{property.address1}}, {{property.address2}}</td>
              <td>{{property.town}}</td>
              <td>{{property.postcode}}</td>
              <td>{{property?.price | currency: 'GBP' : symbol }}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>