.wrapper {
    display    : flex;
    align-items: stretch;
}

#sidebar {
    min-height        : 100vh;
    background-color  : rgb(0, 55, 118);
    color             : #fff;
    font-family       : 'Roboto', sans-serif;
    font-size         : 16px;
    text-align        : center;
    transition        : all 0.3s;
    z-index           : 1;
}

a, a:hover, a:focus {
    text-decoration: none;
}

#sidebar .sidebar-header {
    color: #fff;
    padding: 20px;
    background: #004593;
}

// Sidebar collapsing and responsive sizing

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar.active {
    margin-left: 250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

// Sidebar menu styling

#sidebar ul p {
    padding: 20px;
    color: #fff;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff
}


#sidebar ul li a:hover {
    background-color: #fff;
    color: #004593;
    padding: 10px;
}

// ul ul a {
//     padding: 30px !important;
// }
 
$baron-blue: #003776;

.navbar-baron {
    background-color: $baron-blue;
}

body,html {
    height: 100%;
}

/* pad top for the fixed navbar */
body {
    padding-top: 56px;
}

/* fixed and fluid on sm and up */
@media (min-width: 768px) {
    .fixed {
        flex: 0 0 180px;
        min-width: 180px;
    }
}

.col.fluid {
   min-height: 100%;
}