<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
        <img src="assets/img/BHC_Logo_PMS-281.svg" width="210" height="100" alt="">
    </div>
    <ul class="list-unstyled">
      <li class="active">
        <a routerLink="'/home'" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-line-chart"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#propertyMenu" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-home"></i>
          Properties
        </a>
        <ul class="collapse list-unstyled" id="propertyMenu">
          <li>
            <a [routerLink]="['/properties/list']">View all</a>
          </li>
          <li>
            <a [routerLink]="['/properties/editor']">Edit</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#maintenanceMenu" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-wrench"></i> Maintenance</a>
        <ul class="collapse list-unstyled" id="maintenanceMenu">
          <li>
            <a [routerLink]="['/maintenance/list']">New requests</a>
          </li>
          <li>
            <a [routerLink]="['/maintenance/summary']">Summary</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#tenantMenu" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-group"></i> Tenants</a>
        <ul class="collapse list-unstyled" id="tenantMenu">
          <li>
            <a [routerLink]="['/tenants/search']">Tenant search</a>
          </li>
          <li>
            <a [routerLink]="['/tenants/editor']">Edit</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#financeMenu" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-credit-card"></i> Finance</a>
        <ul class="collapse list-unstyled" id="financeMenu">
          <li>
            <a [routerLink]="['/tenants/search']">Rent Payments</a>
          </li>
          <li>
            <a [routerLink]="['/tenants/editor']">Summary</a>
          </li>
        </ul>
      </li>
    </ul>

  </nav>

  <div class="col fluid py-3">
    <router-outlet></router-outlet>
  </div>

</div>


<!-- center content



      right sidebar
      
      <div class="col-sm-2 fixed py-3">
        <h5 class="text-muted">Fixed Width</h5>
        <div class="card card-block mb-2">
          Put some content here in the sidebar like ads or links.
        </div>
        <div class="card card-block mb-2">
          Put some content here in the sidebar like ads or links.
        </div>
        <div class="card card-block mb-2">
          Put some content here in the sidebar like ads or links.
        </div>
      </div>
    </div>
  </div>
  <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <p>One fine modal body…</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
  </div> -->