/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nunito');

$baron-blue: #003776;

html * {
    font-family: 'Nunito', sans-serif;
}


:focus {
    outline: none !important;
}

.card-baron > .card-header {
    background: $baron-blue;
    color: white;
}